body {
  font-family: 'Century Gothic', sans-serif;
  color: darkgreen; /* Nastavení zelené barvy písma */
}

.dashboard {
  font-family: Arial, sans-serif;
  background-color: #f6f9f6; /* Jemná zelená barva pozadí */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
}

.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #d2eed8, #3f5a42, #2e4a34); /* Zelená barva pro hlavičku */
  padding: 10px;
  color: white;
  border-top-left-radius: 15px; /* Zakulacení levého horního okraje */
  border-top-right-radius: 15px; /* Zakulacení pravého horního okraje */
  height: 60px; /* Nastavení pevné výšky */
}
.nav-links {
  flex: 1;
  display: flex;
  align-items: center; /* Vertikální zarovnání všech odkazů */
  justify-content: center;
  gap: 60px;
}

.nav-links a {
  text-decoration: none;
  color: #f8f2f2;
  font-family: 'Century Gothic', sans-serif; /* Nastavení písma Century Gothic */
  font-weight: bold; /* Nastavení tučného písma */
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #afb1b3;
}

/* Styl pro hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #f8f2f2;
  margin: 4px 0;
  transition: 0.4s;
}
/* Media query pro mobilní zařízení */
@media (max-width: 600px) {
  .dashboard {
      padding: 10px; /* Snížení paddingu na menších obrazovkách */
  }

  .dashboard-header {
      flex-direction: column; /* Vertikální uspořádání na menších obrazovkách */
      height: auto; /* Automatická výška */
      padding: 20px 10px; /* Zvýšení paddingu pro lepší vzhled */
  }

  .nav-links {
      display: none; /* Skrytí navigačních odkazů */
      flex-direction: column; /* Vertikální uspořádání navigačních odkazů */
      align-items: center;
  }

  .hamburger {
      display: flex; /* Zobrazení hamburger menu */
  }
}

/* Zobrazení navigačních odkazů při kliknutí na hamburger menu */
.nav-links.active {
  display: flex;
}

.nav-links .active-link {
  color: #d1fcd2; /* Barva aktivního odkazu */
  border-bottom: 2px solid #4caf50; /* Podtržení aktivního odkazu */
}

.login-button-container {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; /* Přidání odsazení od pravého okraje */
  margin-top: -20px; /* Posunutí tlačítka nahoru */
}
  
.login-button {
  background-color: #f5f8f5; 
  font-family: 'Century Gothic', sans-serif; /* Nastavení písma Century Gothic */
  color: rgb(14, 46, 14); /* Nastavení zelené barvy písma */
  font-weight: bold; /* Nastavení tučného písma */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.login-button:hover {
  background-color: #606662; /* Zelená barva při najetí myši */
  color: white; /* Bílá barva písma při najetí myši */
  font-weight: bold; /* Tučné písmo při najetí myši */
}

.logo-container {
  display: flex;
  flex-direction: column; /* Vertikální uspořádání loga a obrázku */
  align-items: center;
  
}

.logo {
  width: 200px; /* Velikost loga podle potřeby */
  margin-bottom: 10px; /* Přidání mezery mezi logem a obrázkem rostliny */
   }

.plant-image {
  width: 90px; /* Velikost obrázku rostliny */
  height: auto; /* Zachování poměru stran */     
}

.greenHouse {
  width: 70px; /* Velikost obrázku rostliny */
  height: 80px; /* Zachování poměru stran */   
  object-fit: cover; /* Zajištění, že obrázek pokryje celou oblast */
  margin: 0; /* Odstranění okrajů */
  padding: 0; /* Odstranění vnitřních okrajů */
   
}
.status {
  display: left;
  flex-direction: column;
  align-items: center; /* Vycentrování obsahu */
  width: 100%; /* Upraveno na 100% pro lepší responzivitu */
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 20px; /* Přidání mezery mezi dlaždicemi */
  padding: 0; /* Odstranění vnitřních okrajů */
}

.status-warning {
  color: red;
  font-weight: bold;
}

.status-item {
  background-color: #b9cfbe; /* Tmavě zelená barva pozadí dlaždice */
  border: 1px solid #ddd; /* Světle šedý okraj */
  border-radius: 20px; /* Zakulacení rohů */
  padding: 20px; /* Zvýšení paddingu pro lepší vzhled */
  width: 80%; /* Zmenšení šířky pro lepší vycentrování */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Stín dlaždice */
  text-align: center;
  color: #082708; /* písmo uvnitř dlaždice */
  font-family: 'Century Gothic', sans-serif; /* Nastavení písma Century Gothic */
  font-size: 18px; /* Upraveno na menší velikost písma pro moderní vzhled */
  font-weight: bold; /* Nastavení tučného písma */
  display: flex;
  justify-content: center; /* Vycentrování obsahu */
  align-items: center;
  transition: background-color 0.3s; /* Přidání přechodu pro interakci */
  margin: auto; /* Vycentrování dlaždice */
}

.status-item:hover {
  background-color: #3a5a44; /* Změna barvy při hoveru */
}

.status-item > div {
  flex: 1;
  padding: 10px;
}

.status-item > div:not(:last-child) {
  border-right: 1px solid white; /* Čára mezi sloupci */
}

.tiles {
  display: flex;
  justify-content: center; /* Vycentrování dlaždic horizontálně */
  align-items: center; /* Vycentrování dlaždic vertikálně */
  flex-wrap: wrap; /* Zajištění, že dlaždice se přizpůsobí velikosti obrazovky */
  width: 100%; /* Změna na 100% pro lepší responzivitu */
  margin: 0 auto; /* Vycentrování dlaždic */
}

.tiles > .ant-card {
  margin: auto; /* Vycentrování dlaždice */
  color: darkgreen; /* Nastavení zelené barvy písma */
  background-color: #e8f5e9; /* Jemná zelená barva pozadí */
  position: relative; /* Pro pseudo-element */
  flex: 1 1 calc(25% - 10px); /* Každá dlaždice zabere 25% šířky mínus mezera */
  min-width: 80px; /* Přidáno pro zajištění minimální šířky dlaždic */
  transition: transform 0.3s; /* Přidání přechodu pro interakci */
}

.tiles > .ant-card:hover {
  transform: scale(1.05); /* Zvětšení při hoveru */
}

.tiles > .ant-card:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px; /* Umístění čáry na pravý okraj */
  width: 2px;
  height: 100%;
  background-color: rgb(197, 197, 197); /* Barva čáry */
}


@media (max-width: 768px) {
  .tiles {
    flex-direction: row; /* Dlaždice se budou skládat vedle sebe */
    align-items: center; /* Zarovnání dlaždic na střed */
  }

  .tiles > .ant-card {
    width: 90%; /* Zajištění, že dlaždice budou mít šířku 90% obrazovky */
    height: auto; /* Automatická výška */
    margin-bottom: 5px; /* Přidání mezery mezi dlaždicemi na mobilu */
  }
}
.status-item-container {
  width: 600px; 
  height: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Skryje přetékající obsah */
  text-align: center;
}

.status-item-container h2 {
  font-size: 16px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}