body {
  background-color: #f1f0da; 
}

.statistics-container {
  background-color: #f1f0da; 
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to top, #d2eed8, #3f5a42, #2e4a34); /* Zelená barva pro hlavičku */
  align-items: center;
  padding: 0.1rem 0.2rem; /* Zmenšení vnitřního odsazení */
  height: auto; /* Automatická výška podle obsahu */
  border-top-left-radius: 15px; /* Zakulacení levého horního okraje */
  border-top-right-radius: 15px; /* Zakulacení pravého horního okraje */
  
}
.header > *:not(:last-child) {
  margin-right: 10px; /* Přidá mezery mezi prvky */
}
.tile {
  width: 900px;
  margin: 0 1px;
}
/* Kontejner pro tlačítko a nadpis */
.title-and-back {
display: flex;
align-items: center;
gap: 1rem; /* Mezera mezi tlačítkem a nadpisem */
flex-grow: 1; /* Zajistí, že kontejner zabere dostupný prostor */
}


.chart-container {
  background-color: rgb(238, 245, 248); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 96%;
  height: 400px; 
  margin: 30px 10px 30px 20px; /* Top, right, bottom, left */
  font-family: 'Century Gothic', sans-serif; 
  color: rgb(18, 49, 18); 
  font-weight: bold; 
  font-size: 20px;
}





